:root{
    --white: #FFFFFF;
    --black:#000000;
    --primary-text: #B45F4D;
    --secondary-text: #B4604D;
    --tertiary-text: #C17C6C;
    --color1: #F6F4EC;
    --color2: #F1D3B9;
    --color3: #B36050;
    --color4: #A9AE8D;
    --color5: #DF9B7A;
}