/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "../theme/variables.css";
@import "./font.css";
@import "./reset.css";

@import "../layout/container.css";

@import "../layout/header-prefix.css";
@import "../layout/footer-prefix.css";

.home-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-news-box {
  background-color: var(--color4);
  margin-top: -10px;
  text-align: center;
}

.home-news-box h3 {
  padding-top: 69px;
  padding-bottom: 15px;
  color: var(--color1);
  font-size: 18px;
  line-height: 28.8px;
  text-transform: uppercase;
}

.home-news-box h1 {
  color: var(--color1);
  font-size: 33px;
  line-height: 64px;
  padding-bottom: 28px;
}

.home-btn {
  background-color: var(--primary-text);
  padding: 10px 20px;
  margin-bottom: 51px;
  color: var(--white);
  font-size: 17px;
  line-height: 28.8px;
  border: 1px solid transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.home-btn:hover {
  background-color: var(--white);
  color: var(--primary-text);
  border: 1px solid var(--primary-text);
}

/* PRODUCT */

.products {
  background-color: var(--color1);
  padding: 45px 0;
}

.products-title {
  color: var(--primary-text);
  font-size: 23px;
  line-height: 39.2px;
  margin-bottom: 14px;
  text-align: center;
}

.products-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 72px 1fr 72px 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px 0;
  gap: 72px;
}

.product-card-title {
  margin-top: 35px;
  margin-bottom: 23px;
  text-align: left;
  color: var(--primary-text);
  font-size: 18px;
  line-height: 25.2px;
  text-transform: uppercase;
}

.product-card-price {
  color: var(--primary-text);
  line-height: 16px;
}

.product-card-img {
  width: 100%;
  position: relative;
}

.product-card-img-box {
  position: relative;
}
.product-card-img-box::before {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 140, 5, 0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.product-card-img-box:hover::before {
  background-color: rgba(250, 140, 5, 0.45);
  -webkit-transform: translate(5%, 3%);
  -ms-transform: translate(5%, 3%);
  transform: translate(5%, 3%);
}

@media (max-width: 757px) {
  .products-box {
    -ms-grid-columns: (1fr) ;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 486px) {
  .products-box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.products-advertising {
  position: relative;
}

.products-advertising div {
  position: absolute;
  bottom: 20%;
  background-color: var(--color5);
  width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 20px;
}

.products-advertising-text {
  color: var(--color1);
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
}

.products-advertising img {
  width: 100%;
}

@media (max-width: 780px) {
  .products-advertising div {
    bottom: 10%;
    padding: 20px 10px;
  }
  .products-advertising-text {
    font-size: 16px;
  }
}

@media (max-width: 610px) {
  .products-advertising div {
    bottom: 10%;
    padding: 10px;
  }
  .products-advertising img {
    height: 300px;
  }

  .products-advertising-text {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 486px) {
  .products-advertising div {
    display: none;
  }
  .products-advertising img {
    height: 200px;
  }
}

/* CLIENTS */
.clients {
  background-color: var(--color2);
  padding: 67px 0;
}

.clients-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
}

.clients-box-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.clients-box-right {
  background-color: var(--white);
  min-height: 750px;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 42px;
}

.clients-text {
  color: var(--primary-text);
}

.clients-box-right h1 {
  font-size: 30px;
  line-height: 57.6px;
  margin-bottom: 22px;
  text-align: center;
}

.clients-box-right p {
  font-size: 19px;
  line-height: 30.4px;
  margin-bottom: 41px;
}

.clients-box-right a {
  line-height: 25.6px;
}

@media (max-width: 876px) {
  .clients-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* FOLLOW */
.follow {
  padding: 54px 0;
}

.follow-title {
  text-align: center;
  color: var(--black);
  font-size: 23px;
  line-height: 39.2px;
  text-transform: capitalize;
  margin-bottom: 48px;
}

.follow-img-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 9px 1fr 9px 1fr 9px 1fr 9px 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 9px;
}

.follow-img-box div {
  position: relative;
}

.follow-img-box div::after {
  content: " ";
  position: absolute;
  background-image: url("/assets/images/dae-logo.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  z-index: 3;
  bottom: 10%;
  left: 40%;
}

@media (max-width: 1047px) {
  .follow-img-box {
    -ms-grid-columns: (1fr) ;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 830px) {
  .follow-img-box {
    -ms-grid-columns: (1fr) ;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 620px) {
  .follow-img-box {
    -ms-grid-columns: (1fr) ;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .follow-img-box div {
    width: 100%;
  }
  .follow-img-box img {
    width: 100%;
  }
  .follow-img-box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
